<html>
  <head>
    <title>Biedronka</title>
  </head>
  <body>
    <h1>Biedronka</h1>
    <h4><i>Low prices everyday!</i></h4>
    <a href="/">HOME</a> | <a href="/basket">BASKET</a> | <a href="/products">PRODUCTS</a> | <a href="/warehouse">WAREHOUSE</a><br>
    <%=yield%>
  </body>
</html>
